<h1><%= @response["outcome"]["seller_message"] %></h1>

Your <a href="<%= @response["receipt_url"] %>" target="_blank">receipt</a>.

<p>Go to billing page to see more details about your <a href="/users/dashboard/billing">current plan</a>.</p>