<h1>Listing Pricing plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Period</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pricing_plan <- @pricing_plans do %>
    <tr>
      <td><%= pricing_plan.name %></td>
      <td><%= pricing_plan.price %></td>
      <td><%= pricing_plan.period %></td>
      <td><%= pricing_plan.description %></td>
    </tr>
<% end %>
  </tbody>
</table>
