<h1>New Pricing plan</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.pricing_plan_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.pricing_plan_path(@conn, :index) %></span>
